@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: white;
}

img {
  width: 175px;
  height: 40px;
}

.left-aligned {
  float: left;
}
.q-cards {
  display: flex;
  justify-content: flex-end;
}

.companycard{
  display: flex;
  justify-content: flex-end;
}

.left-aligned .nav-link:first-of-type {
  margin-bottom: 10px;
}
#signoutBtn {
  float: right !important;
}

.sidebar {
  width: 185px;
  background-color: white;
  position: fixed;
  height: 100%;
  overflow: auto;
  /* padding: 16px; */
  border-right: 1px solid #ccc;
  color: grey;
}

@media (max-width: 768px) {
  .d-flex {
    flex-direction: column;
  }
}
